.project-box {
  background-color: #64748b;
  border-radius: 8px;
  margin-bottom:30px;
  border-top: 2px solid #8a63ff;
  border-left: 1px solid #8a63ff;
  border-right: 1px solid #8a63ff;
  border-bottom: 2px solid #8a63ff;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 8px #818cf8, 0 0 8px 4px rgba(138, 99, 255, 0.2) inset;
}
.project-box:hover{
    box-shadow: 0px 0px 20px #818cf8, 0 0 8px 4px rgba(138, 99, 255, 0.2) inset;
}


.project-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #f5f3ff;
  letter-spacing: 0.08em;
}

.project-live {
  display: inline-block;
  padding: 5px 10px;
  background-color: #8b5cf6;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 1.8);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #8a63ff;
}
.project-git {
  display: inline-block;
  padding: 5px 15px;
  background-color: #0f172a;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 1.8);
  color: #c084fc;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #8a63ff;
}

.project-live:hover {
  background-color: #3b0764;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}
.project-git:hover {
  background-color: #3b0764;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  color: #fff;
}


.mySwiper .swiper-slide-active .project-box {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
}

.mySwiper .swiper-slide-active .project-box:hover {
  border-color: #667eea;
}


.image-wrap {
    height: 410px;
    overflow: hidden;
    margin:  auto;
    position: relative;
}
.image-wrap img {
    width: 100%;
    object-fit: cover;
    object-position: top center;
    transition: all 6s ease-in-out;
    height: 410px;
  border-radius: 8px;
}
.image-wrap:hover img {
    object-position: bottom center;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
   height: 170px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  color: #ffffff; /* Adjust text color as needed */
  
}


