.my-container {
  /* Add your styles for the container if needed */
}

.swiper-container {
  /* Add your styles for the container if needed */
  
}

.project-box {
  background-color: #64748b;
  padding: 12px;
  border-radius: 8px;
  border: 4px solid #8a63ff;
  
}


.project-title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ffffff;
  letter-spacing: 0.08em;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #374151;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 1.8);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #8a63ff;
}

.project-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}


.mySwiper .swiper-slide-active .project-box {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
  
 
}

.mySwiper .swiper-slide-active .project-box:hover {
  border-color: #667eea;
}
.project-image {
  height: 280px;
  border: 4px solid #9ca3af;
  border-radius: 8px;

}
/* projects.css */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 9999; /* Adjust the z-index as needed */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998; /* Adjust the z-index as needed */
}

.modal-content {
  text-align: center;
}

.close-button {
  background-color: #ccc;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #aaa;
}
body.modal-open {
  overflow: hidden;
}



