.resume-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4d00;
   background-image: linear-gradient(to bottom, #9306F4 25%, #ffffff 20%);
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

.resume-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #9306F4;
  transition: height 0.8s;
  z-index: -1;
}

.resume-btn:hover::before {
  height: 100%;
}

.resume-btn:hover {
  color: #ffffff;
}
