/* about.css */

.more-about {
  background-color: transparent;
  color:#a78bfa;
  font-size: 18px;
  font-weight:700;
  letter-spacing: 0.06em;
  padding: 12px 24px;
  border: none;
  border-radius: 100px; /* Rounded left side */
  cursor: pointer;
  transition: background-color 0.6s ease;
  border: 2px solid #8a63ff; /* Added border */
}

.more-about:hover {
  background-color: #5b21b6;
  color:#fff;
  border: 2px solid white;
}

.more-about:active {
  background-color: #8a63ff;
  transform: scale(.95);
}


